@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");

.pwc-map-container {
  display: block;
  height: 100%;
  width: 100%;
}

.pwc-map-container .leaflet-control {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
  width: 26px;
  text-align: center;
  text-decoration: none;
}

.pwc-map-container .leaflet-control:active {
  bottom: -1px;
  background-color: #ddd;
}

.pwc-map-container .leaflet-control pwc-tooltip {
  display: block;
  border-top: 3px solid transparent;
  line-height: 13px;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}

.pwc-custom-control > *:nth-child(2) {
  position: absolute;
  top: 0;
  left: 40px;
  width: 300px;
}

.pwc-leaflet-div-marker {
  outline: none;
}

control-marker-template {
  display: flex;
  position: relative;
}
